@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "nullstyle";
@import "fonts";
@import "mixin";
@import "slider";

/* Fonts */
@font-face {
	font-family: "Proxima Nova Rg";
	src: url("../source/fonts/ProximaNova-Regular.eot");
	src: url("../source/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
		url("../source/fonts/ProximaNova-Regular.woff2") format("woff2"), url("ProximaNova-Regular.woff") format("woff"),
		url("../source/fonts/ProximaNova-Regular.ttf") format("truetype"),
		url("../source/fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
%Proxima {
	font-family: "Proxima Nova Rg" sans-serif;
}

//** Основные элементы **//
body {
	@extend %Proxima;
}
html {
	font-size: 10px;
}
.button {
	background-color: $btn-color;
	color: $bg-light;
	padding: 10px 30px;
	border-radius: 10px;
	text-transform: uppercase;
	border: none;
	font-size: 10px;
	margin: 20px 0 0 0;
	transition: all 0, 2s;
	&:hover {
		cursor: pointer;
		background-color: darken($btn-color, $amount: 10%);
	}
}
section {
	padding: 100px 0;
	margin: 20px 0px 50px;
}
.section__header {
	&__light {
		color: #fff;
		font-weight: bold;
	}
	p {
		font-size: 14px;
		margin: 40px 0px 20px 0px;
	}
	h2 {
		font-weight: bold;
	}
	font-weight: bold;
	font-size: 32px;
	text-align: center;
	margin: 20px 0px 50px 0px;
}
.main {
	padding: 3rem 0;
	background: url(../img/main-fon.jpg) center center no-repeat;
	background-size: cover;
}
button:active,
button:focus {
	outline: none !important;
}
button::-moz-focus-inner {
	border: 0 !important;
}

//** Оформление Форм **//
@import "blocks/forms";

//** Оформление Всплывающего окна**//
@import "blocks/popup";

// ***** Оформление Header //
@import "blocks/header";

// ***** Оформление блока Преимуществ //
@import "blocks/features";

// ***** Секция с ценами //
@import "blocks/price";

// ***** Секция с Отзывами //
@import "blocks/feedback";

// ***** Секция со схемой работы //
@import "blocks/scheme";

// ***** Секция "В стоимость входит" //
@import "blocks/allinclusive";

// ***** Секция "Развеем опасения" //
@import "blocks/dangerous";

// ***** Секция с Материалами //
@import "blocks/materials";

// ***** Секция "Посмотрите как мы работаем" //
@import "blocks/tour";

// ***** Секция "Дополнительные услуги" //
@import "blocks/upsell";

// ***** Секция "Контакты" //
@import "blocks/contacts";

// ***** Оформление Footer //
@import "blocks/footer";

/* Медиа-запросы */
@media (max-width: 1200px) {
	.feedback {
		&__header {
			margin: -60px 0px 60px 0px;
		}
		&__form {
			padding: 30px 50px 30px 50px;
		}
	}
	.price__block {
		min-height: 580px;
		padding: 10px 10px;
		margin-top: -10px;
		h4 {
			font-size: 16px;
		}
	}
	.fotorama {
		margin-bottom: 30px;
	}
	.allinclusive {
		.media {
			min-height: 110px;
		}
	}
	.scheme__block {
		text-align: center;
	}
	.tour {
		padding: 20px 0px 40px;
	}
}
@media (max-width: 992px) {
	.title {
		margin-top: 50px;
		&__subtitle {
			h1 {
				font-size: 50px;
				line-height: 60px;
			}
			p {
				font-size: 28px;
			}
			span {
				width: 250px;
				padding: 15px 10px;
			}
			h2 {
				font-size: 30px;
			}
		}
		&__form {
			margin-top: -30px;
		}
	}
	.main {
		background-position: top right;
	}
	.phonelink {
		text-align: center;
	}
	.title {
		text-align: center;
		span {
			display: inline-block;
			text-align: center;
		}
	}
	.section__header__light {
		p {
			margin-top: 20px;
		}
	}
	.price {
		&__block {
			margin-top: 20px;
			button {
				font-size: 20px;
			}
		}
		&__button {
			text-align: center;
			padding: 20px 0px;
			margin-top: -40px;
		}
		&__list {
			min-height: 50px;
		}
	}
	.section__header__light {
		margin: -30px 0px 0px 0px;
	}
	.feedback {
		&__form {
			label {
				transform: translate(-50%, -50%);
			}
		}
		&__hand {
			display: none;
		}
		&__slider {
			padding: 50px 60px 30px;
		}
	}
	.allinclusive {
		padding-bottom: 20px;
	}
	.dangerous {
		&__man {
			display: none;
		}
		&__list {
			min-height: 300px;
		}
	}
	.tour {
		background: none;
		background-color: $bg-light;
	}
	.contacts {
		padding-top: 50px;
		background: none;
		background-color: $bg-light;
		text-align: center;
		&__wrapper {
			margin-bottom: 50px;
		}
	}
	.footer {
		text-align: center;
		&__contacts {
			margin-top: 20px;
		}
		&__author {
			text-align: center;
			margin-top: 20px;
		}
	}
}
@media (max-width: 768px) {
	section {
		padding-bottom: 50px;
	}
	.main {
		text-align: center;
		background-position: top left;
		h1 {
			font-size: 25px;
		}
		.wrap {
			text-align: center;
			margin-top: -20px;
		}
		.title {
			margin: 200px 0px 0px 0px;
			&__subtitle {
				h1 {
					line-height: 40px;
				}
				p {
					font-size: 20px;
				}
				h2 {
					font-size: 20px;
				}
			}
		}
	}
	.features {
		h3 {
			margin-bottom: 25px;
		}
	}
	.feedback {
		&__prev__btn {
			left: 0px;
		}
		&__next__btn {
			right: 0px;
		}
		&__slider {
			margin-top: -20px;
			padding-bottom: 40px;
		}
	}
	.scheme {
		background-image: none;
		&__block {
			min-height: 230px;
		}
	}
	.dangerous {
		&__list {
			min-height: auto;
		}
	}
	.materials {
		padding: 0 20px;
	}
	.title {
		&__subtitle {
			h1 {
				font-size: 40px;
			}
			p {
				font-size: 20px;
			}
		}
	}
}

@media (max-width: 576px) {
	section {
		padding-bottom: 20px;
	}
	.title {
		h1 {
			font-size: 20px;
		}
	}
	.title__form {
		padding: 10px 20px;
	}
	.section__header {
		margin-top: -10px;
		font-size: 22px;
	}
	.features {
		h3 {
			margin-bottom: 25px;
		}
		&__images {
			margin-bottom: 5px;
		}
	}
	.price {
		.section__header {
			margin-top: -30px;
		}
		&__block {
			min-height: 450px;
		}
		&__list {
			font-size: 14px;
		}
	}
	.feedback {
		&__descr {
			padding: 0 50px;
		}
		&__header {
			margin: -80px 0px 60px 0px;
		}
		&__slider {
			padding: 30px 0;
			p {
				font-size: 12px;
			}
		}
	}
	.fotorama {
		padding: 0;
	}
	.materials {
		padding: 0;
		&__image {
			margin-bottom: 10px;
			img {
				max-width: 120px;
			}
		}
		&__block {
			h3 {
				margin-bottom: 10px;
			}
			h4 {
				font-size: 14px;
			}
			a {
				font-size: 14px;
			}
		}
		&__offer {
			display: inline-block;
			padding: 0 20px;
			margin-top: 35px;
			line-height: 20px;
		}
		.section__header {
			p {
				padding: 0 20px;
				line-height: 23px;
			}
		}
	}
	.title__subtitle {
		h1 {
			line-height: 30px;
		}
		p {
			font-size: 14px;
		}
	}
	.upsell__block {
		img {
			min-height: 180px;
		}
	}
}
